
/* !!reset */

* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

*:focus {
    outline: none !important;
}



/*
 * borders
 */

.b-y,
.b-t {
    border-top: 1px solid var(--color-border);
}
.b-y,
.b-b {
    border-bottom: 1px solid var(--color-border);
}
.b-x,
.b-l {
    border-left: 1px solid var(--color-border);
}
.b-x,
.b-r {
    border-right: 1px solid var(--color-border);
}



/*
 * shadows
 */

.shadow-0 {
    box-shadow: var(--shadow-0);
}
.shadow-1 {
    box-shadow: var(--shadow-1);
}
.shadow-2 {
    box-shadow: var(--shadow-2);
}
.shadow-3 {
    box-shadow: var(--shadow-3);
}
.shadow-4 {
    box-shadow: var(--shadow-4);
}
.shadow-5 {
    box-shadow: var(--shadow-5);
}
.shadow-6 {
    box-shadow: var(--shadow-6);
}
.shadow-7 {
    box-shadow: var(--shadow-7);
}
.shadow-8 {
    box-shadow: var(--shadow-8);
}
.shadow-9 {
    box-shadow: var(--shadow-9);
}
.shadow-10 {
    box-shadow: var(--shadow-10);
}
.shadow-11 {
    box-shadow: var(--shadow-11);
}
.shadow-12 {
    box-shadow: var(--shadow-12);
}
.shadow-13 {
    box-shadow: var(--shadow-13);
}
.shadow-14 {
    box-shadow: var(--shadow-14);
}
.shadow-15 {
    box-shadow: var(--shadow-15);
}
.shadow-16 {
    box-shadow: var(--shadow-16);
}
.shadow-17 {
    box-shadow: var(--shadow-17);
}
.shadow-18 {
    box-shadow: var(--shadow-18);
}
.shadow-19 {
    box-shadow: var(--shadow-19);
}
.shadow-20 {
    box-shadow: var(--shadow-20);
}
.shadow-21 {
    box-shadow: var(--shadow-21);
}
.shadow-22 {
    box-shadow: var(--shadow-22);
}
.shadow-23 {
    box-shadow: var(--shadow-23);
}
.shadow-24 {
    box-shadow: var(--shadow-24);
}



/*
 * toggle element on hover
 */

.on-hover_trigger {}

.on-hover_show {
    display: none !important;
}
.on-hover_trigger:hover .on-hover_show {
    display: block !important;
}

.on-hover_hide {
    display: block !important;
}
.on-hover_trigger:hover .on-hover_hide {
    display: none !important;
}


/* alignment */

.text-align_left {
    text-align: left;
}
.text-align_center {
    text-align: center;
}
.text-align_right {
    text-align: right;
}

/* truncate */

.text-truncate {
    display: block;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/*
 * cursor
 */

.cursor-pointer {
    cursor: pointer !important;
}




/*
 * icon placeholders: icon {fontSize} - button {size}
 */

[class*=icon-placeholder_],
[class*=icon-button-placeholder_] {
    display: inline-block;
}


.icon-placeholder_sm {
    min-width: 1.25rem;
    min-height: 1.25rem;
}
.icon-placeholder_md {
    min-width: 1.5rem;
    min-height: 1.5rem;
}
.icon-placeholder_lg {
    min-width: 2.1875rem;
    min-height: 2.1875rem;
}


.icon-button-placeholder_sm-sm {
    min-width: calc(1.25rem + (2 * 5px));
    min-height: calc(1.25rem + (2 * 5px));
}
.icon-button-placeholder_sm-md {
    min-width: calc(1.25rem + (2 * 8px));
    min-height: calc(1.25rem + (2 * 8px));
}
.icon-button-placeholder_sm-lg {
    min-width: calc(1.25rem + (2 * 12px));
    min-height: calc(1.25rem + (2 * 12px));
}

.icon-button-placeholder_md-sm {
    min-width: calc(1.5rem + (2 * 5px));
    min-height: calc(1.5rem + (2 * 5px));
}
.icon-button-placeholder_md-md {
    min-width: calc(1.5rem + (2 * 8px));
    min-height: calc(1.5rem + (2 * 8px));
}
.icon-button-placeholder_md-lg {
    min-width: calc(1.5rem + (2 * 12px));
    min-height: calc(1.5rem + (2 * 12px));
}

.icon-button-placeholder_lg-sm {
    min-width: calc(2.1875rem + (2 * 5px));
    min-height: calc(2.1875rem + (2 * 5px));
}
.icon-button-placeholder_lg-md {
    min-width: calc(2.1875rem + (2 * 8px));
    min-height: calc(2.1875rem + (2 * 8px));
}
.icon-button-placeholder_lg-lg {
    min-width: calc(2.1875rem + (2 * 12px));
    min-height: calc(2.1875rem + (2 * 12px));
}


/*
 * simple containers
 */

.container_max-sm {
    max-width: 30rem;
}
.container_max-md {
    max-width: 48rem;
}
.container_max-lg {
    max-width: 64rem;
}
.container_max-xl {
    max-width: 80rem;
}

.container_center {
    margin-left:auto;
    margin-right:auto;
}


/*
 * bootstrap @sizes
 */


.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}
.w-auto {
    width: auto !important;
}

.h-25 {
    height: 25% !important;
}
.h-50 {
    height: 50% !important;
}
.h-75 {
    height: 75% !important;
}
.h-100 {
    height: 100% !important;
}
.h-auto {
    height: auto !important;
}

.mw-100 {
    max-width: 100% !important;
}
.mh-100 {
    max-height: 100% !important;
}

.min-vw-100 {
    min-width: 100vw !important;
}
.min-vh-100 {
    min-height: 100vh !important;
}

.vw-100 {
    width: 100vw !important;
}
.vh-100 {
    height: 100vh !important;
}


/*
 * scroll
 */

.disable-body-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}


.vertical-scroll {
    outline: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.05);
}
.vertical-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}
.vertical-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
}

.touchevents .ipad-scroll-fix {
    height: -webkit-fill-available;
}


/*
 * custom controls
 */

.control_base {
    padding: .6rem 1rem !important;
    background-color: var(--colorBackground-control) !important;
    border: 1px solid var(--color-border) !important;
    border-radius: 4px;
}
.control_base:focus {
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 0 1px var(--color-primary);
}
.control_base:hover {
    border-color: var(--colorText-primary) !important;
}

.control_label {
    padding: 0 0 2px 1px;
    font-size: .75rem;
    cursor: pointer;
}
.control_help-Text {}


/*
 * basic table
 */

.table {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}


.table th,
.table td {
    font-family: var(--fontFamily-default);
    font-size: 0.875rem;
    color: var(--colorText-primary);
    text-align: left;
    border-bottom: 1px solid var(--color-border);
}
.table th {
    padding: 16px;
    font-weight: 500;
    line-height: 1.4;
    vertical-align: bottom;
    /*color: var(--colorText-heading);*/
    background-color: rgba(0, 0, 0, 0.15);
}
.table td {
    padding: 12px 16px;
    vertical-align: top;
}

.table td.table-actions {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}