
@media print {
    @page {
        margin: 7mm 10mm;
        size: 210mm 297mm;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        page-break-inside: avoid;
    }

    .hide-on-print {
        display: none !important;
    }
    .flat-on-print {
        position: relative !important;
    }
}
