.month {
    font-size: .925rem !important;
}

.year {
    font-size: .85rem !important;
    color: inherit !important;
}
.year::before,
.year::after {
    display: none;
}

.select {
    padding-top: 3px !important;
    padding-bottom: 2px !important;
}
.select:focus {
    color: #000 !important;
    background-color: #fff !important;
    border-radius: 2px 2px 0 0 !important;
}