
.page {
    margin: 0 2px !important;
    width: 3rem;
    height: 3rem;
    padding: 0 !important;
    border-radius: 50% !important;
}

.selected {
    color: #fff !important;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}